
@media screen and (max-width: 960px) {

HEADER .banner { margin: 2em 10px; }
HEADER .banner .columns { margin: 15px 10px 0; }
HEADER .banner H4.spec-1 { font-size: 5.5vw; margin: .5em 0;}
HEADER .banner H4.spec-2 { font-size: 5.5vw; margin: .5em 0; }
HEADER .banner .hurry { font-size: 4.15vw; margin: .75em 0; }
HEADER .banner .boxed {
    border: 3px solid #00aff2;
    padding: .5em 10px;
    margin-bottom: 0;
    }
HEADER .banner .boxed H5 {
    font-size: 3.75vw;
    font-weight: bold;
    line-height: 1.25em;
    margin: .15em 0;
    }
HEADER .banner .boxed P {
    font-size: 3vw;
    font-weight: bold;
    margin: .15em 0;
    }
HEADER .banner .boxed .seal {
    top: unset;
    bottom: -50px;
    right: -20px;
    width: 80px;
    height: 80px;
    }

HEADER .footnote {
    font-size: 3.25vw;
    margin: -.5em 10px 1em;
    }

MAIN SECTION { margin: 0 10px; }

.packages .status { display: none; }
.packages .status.mostpop { display: block; }
.packages .shadow { display: none; }

.features { margin: 1em 0 2em; }
.features SPAN { margin: .35em 0; }

.payline .purch A { font-size: 8.25vw; }



}
