
@media screen and (max-width: 960px) {

BODY {
    font-size: 4.5vw;
    }

HEADER SECTION,
MAIN SECTION,
FOOTER SECTION {
    margin: 1.5em 10px .75em;
    }

HEADER {
    border-top: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    }

H1 { font-size: 9vw; }
H2 { font-size: 8vw; }

H1.first { margin: .5em 0;}

.arrowed {
    margin: 1em -10px 1.5em;
    }

.insertion.logo {
    margin: .5em 0 .25em;
    }

    .insertion.logo SPAN {
        margin: .75em 0;
        display: block;
        }

.cdate {
    font-size: 4.5vw;
    text-align: center;
    margin: 0 1em;
    position: initial;
    right: auto;
    }

.mxbox {
    padding: .5em 20px;
    margin: 1em -10px;
    }







}
