
HTML, BODY {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    }

BODY {
    color: #000;
    font-family: "Open Sans", Arial;
    font-size: 17px;
    background: #eee;
    padding: 0;
    margin: 0;
    }

H1 {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -.02em;
    line-height: 1.25em;
    text-align: center;
    margin: .75em 0 .5em;
    }

    H1 EM {
        font-style: italic;
        font-weight: normal;
        }

H2 {
    color: #000;
    font-family: "Open Sans Condensed", Arial;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.25em;
    margin: 1em 0;
    text-align: left;
    }

H2.spec {
    font-family: Arial;
    font-size: 28px !important;
    text-align: center;
    background-image: url(../i/h2-spec-bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    padding: .45em 50px .55em;
    margin: 1em -50px 0;
    }

H3 {
    color: #000;
    font-family: "Open Sans Condensed", Arial;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.25em;
    margin: 1em 0;
    text-align: left;
    }

A, A:visited {
    color: #0000ee;
    }

/* Header */

#header {
    border-bottom: 1px solid #97b3db;
    background-image: url(../i/header-bg.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    overflow: hidden;
    }

#header.no-deco {
    border: none;
    background: none;
    }

    #header .inner {
        margin: 30px auto 0;
        max-width: 1000px;
        }

/* Content */

#layout {
    border: 1px solid #ccc;
    border-top: none;
    background: #fff;
    margin: 0 auto;
    max-width: 998px;
    overflow: hidden;
    }

#content {
    margin: 25px 50px;
    }

#footer {
    color: #757263;
    font-size: 14px;
    margin: 50px auto;
    max-width: 1000px;
    }

    #footer P {
        text-align: center;
        }

    #footer A {
        color: #9e9560;
        text-decoration: none;
        }

    #footer A:hover {
        text-decoration: underline;
        }


/* Components */

.intro {
    background: none;
    margin: 0 0 40px;
    height: auto !important;
    }

    .intro .order-steps {
        text-align: center;
        margin: 0 10px;
        }

        .intro .order-steps P {
            text-align: center;
            margin: 10px 0 30px;
            }

        .intro .order-steps H4 {
            color: #000;
            font-family: "Open Sans Condensed", Arial;
            font-size: 21px;
            font-weight: bold;
            letter-spacing: -1px;
            line-height: 1em;
            text-align: center;
            border: 3px solid red;
            background: #fff;
            padding: .5em 0;
            margin: 30px 0;
            }

.warning-message {
    color: #000;
    font-family: "Open Sans Condensed", Arial;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1em;
    text-align: center;
    border: 3px solid red;
    background: #fff;
    padding: .5em 0;
    margin: 30px 50px;
    }

.delivery {
    text-align: justify;
    margin: 2em 0 !important;
    }

.action {
    text-align: center;
    margin: 2em 0 !important;
    }

.purchased {}

    .purchased .column.product {
        border: 2px solid #36c;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding: 0 1em 0 1.5em;
        }

        .purchased .column.product UL {
            margin: 0 0 0 1.25em;
            }

        .purchased .column.product P {
            margin: 1em 0 0 !important;
            }

.button {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.35em;
    text-align: center;
    text-decoration: none;
    border-bottom: 4px solid #264c99;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #36c;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.35);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.35);
    padding: .75em .25em;
    display: inline-block;
    }

.button:hover {
    color: #fff;
    background: #4174d9;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,.25);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.25);
    margin: -1px 0 1px;
    }

.nothnx {
    color: #777;
    font-size: 14px;
    }

.nothnx:hover {
    color: #333;
    }

.animated {
    -webkit-transition: all 333ms ease;
    -moz-transition: all 333ms ease;
    -ms-transition: all 333ms ease;
    -o-transition: all 333ms ease;
    transition: all 333ms ease;
    }


.visual {
    border: 1px solid #abc;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    }

.bottles {
    margin-top: 4em !important;
    }

    .bottles .column {
        /* border-left: 1px dashed #ccc; */
        }

    .bottles .column:first-child {
        border: none;
        }

    .bottles .column.regular {
        padding-top: 70px;
        }

        .bottles .column.regular .seal { display: none; }

    .bottles .column.most-pop {
        border: 4px dotted #f00;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: #fed;
        padding: 60px 0 10px;
        position: relative;
        }

        .bottles .column.most-pop .seal {
            background-image: url(../i/seal-most-pop.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: -10%;
            left: 30%;
            width: 40%;
            height: 20%;
            }

    .bottles .column.most-sav {
        padding-top: 70px;
        position: relative;
        }

        .bottles .column.most-sav .seal {
            background-image: url(../i/seal-most-sav.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: -5%;
            left: 35%;
            width: 30%;
            height: 15%;
            }

    .bottles H2 {
        text-align: center;
        }

.aux {
    color: #666;
    font-size: 14px;
    line-height: 1.25em;
    text-align: justify;
    }

.guarantee {
    color: #fff;
    background-color: #2891b9;
    background-image: url(../i/guarantee-new.png);
    background-position: 50px 30px;
    background-repeat: no-repeat;
    background-size: 182px;
    padding: 15px 50px 20px 270px;
    margin: 1.5em -50px;
    }

    .guarantee P {
        font-size: 14.5px;
        }
