
/* Device screen smaller than design */
@media screen and (max-width: 1040px) {

H1 BR, H2 BR, H3 BR, H4 BR, H5 BR, H6 BR { display: none; }

H1 {
    font-size: 8vw;
    margin: 1em 0;
    }

H2.spec {
    background-color: #ffdd53;
    background-image: none;
    padding: .5em 10px;
    margin: 0 -10px;
    }

H3 { font-size: 6vw; }

#layout { overflow: hidden; }

#header { margin: 0; }
#header .inner {
    margin: 0;
    min-height: auto;
    }

#content {
    margin: 10px;
    }

.warning-message {
    margin: 10px;
    }

#stepping { width: 100%; }

.button {
    font-size: 5vw;
    padding: 2vw 3vw;
    }

.bottles { margin-top: 0 !important; }

    .bottles .column {
        border: none;
        padding-top: 1.5em;
        margin-top: 1.5em;
        }

    .bottles .column.regular { padding-top: 1em; }
    .bottles .column.most-pop { margin-top: 4em !important; }
    .bottles .column.most-sav { margin-top: 3em !important; }

.guarantee {
    background-position: 25vw 3vw;
    background-size: 50vw;
    padding: 37vw 10px 10px 10px;
    margin: 1.5em -10px;
    }

    .guarantee P {
        font-size: 14.5px;
        text-align: justify;
        }

#footer {
    font-size: 12px;
    }

}

