
@media screen and (max-width: 1400px) {

.unmutes {
    text-align: center;
    margin: 1.5em 0;
    display: block;
    overflow: hidden;
    position: initial;
    top: 0;
    left: 0;
    right: 0;
    }

    .unmutes A.lt { display: none; }

    .unmutes A.rt {
        background-position: .5em center;
        padding: .75em 1em .65em 2.5em;
        float: none;
        }

}

@media screen and (max-width: 960px) {

BODY {
    font-size: 4.5vw;
    }

HEADER {
    border-top: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    }

MAIN SECTION {
    padding: 0;
    margin: 0 10px;
    }

FOOTER SECTION { margin: 1em 10px; }

H1 { font-size: 10vw; }
H2 { font-size: 6vw; }
H3 { font-size: 5vw; }

H1.first { margin: .5em; }

.cdate {
    font-size: 4.5vw;
    text-align: center;
    margin: 0 1em;
    position: initial;
    right: auto;
    }

.insertion.logo {
    margin: 1.25em 0 .25em;
    }

    .insertion.logo SPAN {
        margin: .75em 0;
        display: block;
        }

.video { margin: 1em 0 .1em; }
.video .player { text-align: center; width: auto; height: auto; }
.video .player IFRAME { width: 93vw; height: 52.25vw; }
.video .notification { font-size: 3vw; width: 100vw; }
.unmutes { margin: 1em 0; }

.pbutton { margin: 1.5em 0; }
.pbutton A {
    font-size: 7vw;
    padding: .65em 1.5em;
    }
.pbutton A STRONG { font-size: 7.65vw; }
.pbutton A I { right: -3.25em; }

.bx-wrapper {
    margin: 0 20px !important;
    }

.tmslider LI IMG {
    width: 90%;
    float: none;
    }

.tmslider LI .dsc { margin-bottom: 2em; }

.testimonials LI IMG {
    margin-bottom: 0;
    width: 100%;
    float: none;
    }

.testimonials LI .dsc { margin: .5em 0; }





}

