@import url('zhtml.css?v=12');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

BODY {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 20px;
    position: relative;
    }

HEADER {
    border-top: 4px solid #a2b0ba;
    background: #fff;
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.15);
    box-shadow: 0 0 3px 0 rgba(0,0,0,.15);
    overflow: hidden;
    }

    HEADER SECTION {}

MAIN {}

    MAIN SECTION {
        margin: 1em auto;
        }

FOOTER {
    font-size: 12px;
    border-top: 2px solid #005b81;
    }

    FOOTER SECTION {
        margin: 2em auto;
        }

H1 {
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    margin: .5em 0 .35em !important;
    }

H2 {
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    margin: 1em 0 .75em;
    }

.arrowed {
    text-align: center;
    padding: .75em 1em;
    margin: 1em 0 1.5em;
    position: relative;
    }

    .arrowed .arrow {
        background-image: url(../i/arrowed-arrow.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
        height: 23px;
        position: absolute;
        bottom: -16px;
        left: 0px;
        right: 0px;
        }

.insertion.logo {
    margin: 2em 0;
    }

.cdate {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    background-color: #a2b0ba;
    padding: .5em 1em;
    margin: 0 .25em;
    position: absolute;
    top: 0px;
    right: 2vw;
    z-index: 9999;
    }

.ctrl-toggle {
    font-family: Verdana;
    font-size: 12px;
    letter-spacing: .02em;
    line-height: 1.25em;
    vertical-align: middle;
    border: 1px solid #999;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: #aaa;
    -webkit-box-shadow: inset 0 1px 4px 0 rgba(0,0,0,.35);
    box-shadow: inset 0 1px 4px 0 rgba(0,0,0,.35);
    padding: 2px;
    margin: 0 .75em;
    display: inline-block;
    overflow: hidden;
    }

    .ctrl-toggle A {
        color: #fff;
        text-decoration: none;
        vertical-align: middle;
        padding: .15em .75em;
        display: inline-block;
        }

    .ctrl-toggle B {
        color: #666;
        font-weight: normal;
        vertical-align: middle;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background: #eee;
        -webkit-box-shadow: inset 0 -1px 2px 0 rgba(0,0,0,.25);
        box-shadow: inset 0 -1px 2px 0 rgba(0,0,0,.25);
        padding: .15em .75em;
        display: inline-block;
        }

.visual {
    border: 1px solid #ddd;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin: .25em 0;
    }

.mxbox {
    font-size: 90%;
    border: 1px solid #ffeeaa;
    background-color: #fff7d1;
    padding: .5em 30px;
    margin: 1.5em 0;
    overflow: hidden;
    }

.price {
    color: #060;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5em;
    text-align: center;
    margin: 0;
    }






