@import url(https://fonts.googleapis.com/css?family=Oswald);

HTML, BODY { width: 100%; height: 100%; }

BODY {
    color: #000;
    font-family: "Times New Roman", Times, Georgia, serif;
    font-size: 17px;
    background: #5a5a5a;
    padding: 0;
    margin: 0;
    }

H1 {
    color: #930;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: .35em 0;
    }

P { line-height: 1.25em; }

#warning {
    color: #00007f;
    font-family: Oswald;
    font-size: 16px;
    text-align: center;
    border: 1px solid #777;
    background: #ff9;
    padding: 10px 5px;
    margin: 1em 0;
    }

/* Layout */

#layout {
    background: url(../i/page-order-bg.png?v=2) top center no-repeat;
    margin: 0 auto;
    max-width: 994px;
    min-height: 1540px;
    overflow: hidden;
    }

#layoutcb {
    background: #5a5a5a;
    margin: -90px auto;
    max-width: 750px;
    min-height: 1102px;
    overflow: hidden;
    }

#content {
    border: 1px solid #ccc;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #fff;
    padding: 20px 40px;
    margin: 130px 147px 20px;
    }

    #content P {
        margin: 1em 0;
        }

.button-cancel {
    color: #000;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
    text-decoration: none;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #ffef00 url(../i/button-cancel-bg.png) top repeat-x;
    padding: 0 20px;
    display: inline-block;
    height: 32px;
    }



