
.desktop-hidden { display: none; }

/* Device screen smaller than design */
@media screen and (max-width: 1040px) {

H1 BR, H2 BR, H3 BR, H4 BR, H5 BR, H6 BR { display: none; }

#layout { overflow: hidden; }

#header { margin: 0; }
#header .inner {
    margin: 0;
    min-height: auto;
    }

#content {
    margin: 10px;
    }


#footer {
    font-size: 12px;
    }

.nmenu {
    margin: 0;
    float: none;
    }

.signup {
    padding: 10px;
    margin: 0;
    }

    .signup INPUT[type="text"] { width: 55vw; }

INPUT[type="text"] {
    font-size: 3vw;
    max-width: 90vw;
    }

.insertion.center,
.insertion.left,
.insertion.right {
    margin: 1em 0;
    float: none;
    }

.mobile-full-width { width: 100% !important; }
.mobile-3of4-width { width: 75% !important; }
.mobile-2of3-width { width: 66% !important; }
.mobile-half-width { width: 50% !important; }
.mobile-1of3-width { width: 33% !important; }
.mobile-1of4-width { width: 25% !important; }
.mobile-90pc-width { width: 90% !important; }
.mobile-95pc-width { width: 95% !important; }

.mobile-hidden { display: none; }
.desktop-hidden { display: block; }

}

/* Device screen extra small */
@media screen and (max-width: 550px) {


}
