@import url('zhtml.css?v=7');

BODY {}

HEADER {
    font-family: Arial, sans-serif;
    border-top: 5px solid #00aeef;
    background: #ebebeb;
    }

    HEADER SECTION {}

    HEADER .banner {
        border: 5px dashed #e00;
        margin: 2.5em 0;
        position: relative;
        }

        HEADER .banner .columns {
            margin: 15px 30px 20px;
            }

        HEADER .banner .bottle {
            margin: -40px 0 10px;
            }

        HEADER .banner H4 {
            font-size: 48px;
            font-weight: bold;
            text-align: center;
            }

        HEADER .banner H4.spec-1 {
            color: #e00;
            line-height: 1.15em;
            margin: 0;
            }

        HEADER .banner H4.spec-2 {
            color: #03b0fb;
            font-size: 35px;
            font-weight: bold;
            letter-spacing: .04em;
            line-height: 1.15em;
            margin: .15em 0;
            }

        HEADER .banner .hurry {
            font-size: 23px;
            font-weight: bold;
            letter-spacing: -.04em;
            line-height: 1.15em;
            text-align: center;
            margin: .35em 0;
            }

        HEADER .banner .boxed {
            border: 4px solid #00aff2;
            padding: .5em 100px .5em 0;
            position: relative;
            }

            HEADER .banner .boxed H5 {
                font-size: 22px;
                font-weight: bold;
                line-height: 1.25em;
                margin: .15em 0;
                }

            HEADER .banner .boxed P {
                font-size: 13px;
                font-weight: bold;
                margin: .15em 0;
                }

            HEADER .banner .boxed .seal {
                background-image: url(../i/60-day-money-back-guarantee.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                top: -20px;
                right: -20px;
                width: 140px;
                height: 140px;
                }

    HEADER .footnote {
        color: #e00;
        font-size: 12px;
        margin: -2.5em 0 2.5em;
        }

MAIN {}

MAIN.grayed {
    border-top: 10px solid #e6e6e6;
    background-color: #f3f3f3;
    padding-bottom: 2em;
    }

MAIN.grayed.simple {
    border-top: none;
    padding: 2em 0;
    }

    MAIN SECTION {}

FOOTER {}

    FOOTER SECTION {}

H2 {
    color: #808080;
    font-size: 30px;
    margin: .75em 0;
    }

.packages {
    overflow: hidden;
    }

    .packages .status {
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        line-height: 2em;
        text-align: center;
        margin-bottom: .25em;
        min-height: 2em;
        }

    .packages .status.mostpop {
        background-color: #4cadff;
        }

    .packages .prodbox {
        color: #fff;
        text-align: center;
        background-color: #0f2332;
        position: relative;
        overflow: hidden;

        -webkit-transition: all 250ms ease;
        -moz-transition: all 250ms ease;
        -ms-transition: all 250ms ease;
        -o-transition: all 250ms ease;
        transition: all 250ms ease;
        }

    .packages .prodbox:hover {
        background-color: #183347;
        cursor: pointer;

        -webkit-transition: all 250ms ease;
        -moz-transition: all 250ms ease;
        -ms-transition: all 250ms ease;
        -o-transition: all 250ms ease;
        transition: all 250ms ease;
        }

        .packages .prodbox .visual {
            margin: 45px 0 .5em;
            }

        .packages .prodbox .price {
            font-size: 110px;
            letter-spacing: -.03em;
            line-height: 1em;
            margin: 0;
            }

            .packages .prodbox .price SUP {
                font-size: 36px;
                top: -1.5em;
                }

        .packages .prodbox .descr {
            color: #ccc;
            margin: .5em 0;
            }

            .packages .prodbox .descr HR {
                border-top: 1px solid #888;
                margin: .25em 25%;
                }

            .packages .prodbox .descr STRIKE {
                color: #f33;
                }

            .packages .prodbox .descr EM {
                color: #000;
                font-style: normal;
                background: #fedf03;
                padding: 0 .25em;
                margin: 0 .15em;
                }

        .packages .prodbox .purch {
            text-align: center;
            margin: 1.15em 0;
            }

            .packages .prodbox .purch A,
            .payline .purch A {
                color: #fff;
                font-size: 28px;
                text-decoration: none;
                border: 5px solid #4cadff;
                background-color: #0f2332;
                padding: .35em 1em;
                display: inline-block;

                -webkit-transition: all 250ms ease;
                -moz-transition: all 250ms ease;
                -ms-transition: all 250ms ease;
                -o-transition: all 250ms ease;
                transition: all 250ms ease;
                }

            .payline .purch A {
                font-size: 36px;
                font-weight: bold;
                padding: .5em 1.5em;
                }

            .packages .prodbox .purch A:hover,
            .packages .prodbox .purch A:focus,
            .payline .purch A:hover,
            .payline .purch A:focus {
                background-color: #4cadff;

                -webkit-transition: all 250ms ease;
                -moz-transition: all 250ms ease;
                -ms-transition: all 250ms ease;
                -o-transition: all 250ms ease;
                transition: all 250ms ease;
                }

        .packages .prodbox .badge {
            background-image: url(../i/60-day-badge.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 15px;
            right: 15px;
            width: 80px;
            height: 80px;
            }

    .packages .shadow {
        background-image: url(../i/packages-item-bg.png);
        background-position: bottom;
        background-repeat: repeat-x;
        background-size: contain;
        height: 60px;
        }

.features {
    text-align: center;
    margin: -3em 0 3em;
    }

    .features SPAN {
        margin: 0 .75em;
        display: inline-block;
        }

        .features SPAN IMG {
            vertical-align: middle;
            }

.payline {
    border: 1px solid #fff;
    background-color: #fff;
    -webkit-box-shadow: 0 0 100px 0 rgba(0,0,0,.25);
    box-shadow: 0 0 100px 0 rgba(0,0,0,.25);
    position: relative;
    z-index: 9999;
    }

    .payline P {
        color: #888;
        margin: .5em 0;
        }

.proofers {
    text-align: center;
    margin: 2em 0;
    }

    .proofers IMG {
        vertical-align: middle;
        margin: 0 1em;
        }

.foot-1 {
    color: #444;
    text-align: center;
    font-size: 14px;
    line-height: 1.25em;
    border: 1px solid #999;
    border-left: none;
    border-right: none;
    padding: 1.5em 0;
    margin: 1.5em 0;
    }

.foot-2 {
    color: #444;
    font-size: 14px;
    line-height: 1.25em;
    text-align: center;
    }


#popupLabelDialog {
    display: none;
    }






